---
layout: default
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{{ site.data.settings.projects.projects__title }}</h1>
    {% if site.data.settings.projects.projects__description_long %}
      <p class="page-description">{{ site.data.settings.projects.projects__description_long }}</p>
    {% else site.data.settings.projects.projects__description %}
      <p class="page-description">{{ site.data.settings.projects.projects__description }}</p>
    {% endif %}
  </div>
</div>

<div class="work-page container animate">
  <div class="row">
    {% for project in site.projects reversed %}
      {% include project-card.html project=project layout_size="medium" %}
    {% endfor %}
  </div>
</div>
