{% assign layout_size = include.layout_size | default: "small" %}
{% case layout_size %}
  {% when "small" %}
    {% assign column_classes = "col col-3 col-d-6 col-t-12" %}
  {% when "medium" %}
    {% assign column_classes = "col col-4 col-d-6 col-t-12" %}
  {% when "large" %}
    {% assign column_classes = "col col-6 col-t-12" %}
{% endcase %}
<article class="work {{ column_classes }}">
  <div class="work__content">
    <a href="{{ include.project.url }}" class="work__image">
      <img class="lazy" data-src="{{ include.project.image }}" alt="{{ include.project.title }}">
    </a>
    <div class="work__info">
      <div class="work__header">
        {% if include.project.category %}
        <div class="work__category">{{ include.project.category }}</div>
        {% endif %}
        {% if include.project.progress %}
        <div class="work__progress" title="Completeness">
          {% if include.project.progress contains '%' %}
          {% assign prog_val = include.project.progress | remove: '%' %}
          {% else %}
          {% assign prog_val = include.project.progress %}
          {% endif %}
          <div class="progress" role="progressbar" aria-valuenow="{{ prog_val }}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress__bar" style="width: {{ prog_val }}%;"></div>
          </div>
          <p class="progress__text">{{ prog_val }}%</p>
        </div>
        {% endif %}
      </div>
      <h3 class="work__title"><a href="{{ include.project.url }}">{{ include.project.title }}</a></h3>
      {% if include.project.description %}
      <p class="work__description">{{ include.project.description }}</p>
      {% endif %}
    </div>
  </div>
</article>
