{% if site.data.settings.work.enable == true %}
<!-- begin works -->
<div class="container">
  <section class="section works animate">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <h2 class="section__title">{{ site.data.settings.work.work__title }}</h2>
          {% if site.data.settings.work.work__description %}
          <p class="section__description">{{ site.data.settings.work.work__description }}</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      {% assign sorted = site.works | reverse %}
      {% for work in sorted limit:4 %}
      {% include work-card.html work=work %}
      {% endfor %}
    </div>
    <a href="{{ '/work' | relative_url }}" class="section__link">Show all works <i class="ion ion-md-arrow-forward"></i></a>
  </section>
</div>
<!-- end works -->
{% endif %}
