---
layout: default
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog.blog__title }}{% endif %}</h1>
    {% if site.data.settings.blog.blog__description_long %}
      <p class="page-description">{{ site.data.settings.blog.blog__description_long }}</p>
    {% else site.data.settings.blog.blog__description %}
      <p class="page-description">{{ site.data.settings.blog.blog__description }}</p>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="section-small">
    <div class="section__inner grid">
      {% if site.posts.size > 0 %}
        {% for post in paginator.posts offset:0 %}
          {% include blogpost.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% include pagination.html %}
