/* Page Link */
.page-link__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
  padding-bottom: 32px;
  border-radius: $global-radius;
  text-align: center;
  color: #c0392b;
  background-color: var(--background-alt-color);
  border-bottom: 1px solid var(--border-color);

  h2,
  p {
    margin-bottom: 0;
  }

  p {
    max-width: 36rem;
    line-height: 1.6;
  }
}

.page-link__slug {
  color: #f1c40f;
}
