---
layout: default
---

<div class="container">
  <div class="page-section-head">
    <h1 class="page-title">{{ site.data.settings.work.work__title }}</h1>
    {% if site.data.settings.work.work__description_long %}
      <p class="page-description">{{ site.data.settings.work.work__description_long }}</p>
    {% else site.data.settings.work.work__description %}
      <p class="page-description">{{ site.data.settings.work.work__description }}</p>
    {% endif %}
  </div>
</div>

<div class="work-page container animate">
  <div class="row">
    {% assign sorted = site.works | reverse %}
    {% for work in sorted %}
      {% include work-card.html work=work layout_size="large" %}
    {% endfor %}
  </div>
</div>
